@import url("http://fonts.googleapis.com/css?family=Lora:400|Ubuntu:300,700");

html,
body,
div,
span,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
img,
ol,
ul,
li,
input,
label,
select,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
footer,
header,
menu,
nav,
section,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  list-style: none;
  border: 0;
  box-sizing: border-box;
}

body {
}

::selection {
  background: #a4000e;
  text-shadow: none;
  color: #eee;
}

h1,
h2,
h3,
header,
strong,
strong a {
  font-family: "Ubuntu", sans-serif;
  color: #a4000e;
  margin: 0 0 0.2rem;
}
h1 {
  font-size: 6rem;
  text-shadow: 1px 1px 1px #710013;
  letter-spacing: -1px;
  margin: 0;
  font-weight: 300;
  line-height: 0.8;
}
h2 {
  font-size: 1.6rem;
  color: #bbb;
  letter-spacing: 2px;
}
h3 {
  font-size: 1.3rem;
}
h3 .dateText {
  display: block;
  font-size: 0.78em;
  opacity: 0.7;
  color: #111;
  line-height: 1;
}

p span {
  font-family: "Ubuntu", sans-serif;
  color: #111;
  font-weight: bold;
}
p {
  margin: 0 0 0.5rem 0.5rem;
}
abbr {
  border-bottom: dotted 1px #333;
  cursor: help;
}
strong {
  font-size: 1.1rem;
}

a {
  color: #000;
  text-decoration: none;
  border-bottom: dotted 1px #a4000e;
}
a:hover,
a:hover strong,
a:focus {
  color: #fff;
  background: #a4000e;
  text-decoration: none;
}
div:hover a {
  border-bottom: solid 1px #a4000e;
}

ul {
  list-style: none;
  padding: 0 1.2rem 0 0;
}
ul.inline li {
  display: inline-block;
  padding: 0 1.2rem 0 0;
}
li {
  padding-bottom: 0.5rem;
}

.lhs,
.rhs {
  box-sizing: border-box;
}

@media screen and (min-width: 1000px) {
  body {
    max-width: 1400px;
  }
  .Appendix ul {
    padding-left: 1rem;
    text-indent: -1rem;
  }
}

.lhs {
  box-sizing: border-box;
  width: 50%;
  display: inline-block;
  padding: 0 3% 0 3%;
}
.rhs {
  box-sizing: border-box;
  width: 50%;
  float: right;
  padding: 0 3% 0 0;
}

@media print {
  body,
  html {
    font-size: 12px !important;
  }
  .noprint {
    display: none;
  }
  [data-print]:after {
    content: " " attr(data-print) " ";
    font-family: monospace;
  }
  .lhs {
    width: 46%;
    float: left;
    padding: 0 2% 0;
  }
  .rhs {
    width: 46%;
    float: right;
    padding: 0 2% 0 0;
  }
  body h1 {
    text-shadow: none !important;
    font-size: 4rem !important;
    line-height: 1 !important;
    padding: 0 !important;
  }
  body h2 {
    letter-spacing: normal;
    font-size: 1.1rem !important;
    margin: 0 !important;
  }
  body h3 {
    margin: 0 !important;
    font-size: 1.1rem !important;
  }
  body header p {
    width: 90%;
  }
  body header {
    padding: 0 2% 0 2%;
  }
  body,
  div,
  p,
  ul li,
  h1,
  h2,
  h3,
  a,
  strong {
    border: none !important;
    text-decoration: none;
  }
  ul {
    padding-bottom: 0rem !important;
  }
  ul li {
    padding-bottom: 0.2rem !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }

  body {
    display: block !important;
  }

  body .lhs {
    box-sizing: border-box;
    width: 50%;
    display: inline-block;
    padding: 0 3% 0 3%;
  }
  body .rhs {
    box-sizing: border-box;
    width: 50%;
    float: right;
    padding: 0 3% 0 0;
  }
}
